{% extends "base.html" %}

{% block content %}
<h2>Дашборд системы</h2>
<div class="row mt-4">
    <div class="col-md-2">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ total_users }}</h5>
                <p class="card-text">Пользователей</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ today_tasks }}</h5>
                <p class="card-text">Заданий сегодня</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ total_books }}</h5>
                <p class="card-text">Книг</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ total_videos }}</h5>
                <p class="card-text">Видео</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ total_products }}</h5>
                <p class="card-text">Продуктов</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Последние пользователи</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Дата регистрации</th>
                                <th>Уровень</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in recent_users %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3].strftime('%Y-%m-%d') }}</td>
                                <td>{{ user[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Последние выполненные задания</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Пользователь</th>
                                <th>Тип задания</th>
                                <th>Дата выполнения</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in recent_tasks %}
                            <tr>
                                <td>{{ task[0] }}</td>
                                <td>{{ task[1] }}</td>
                                <td>{{ task[2].strftime('%Y-%m-%d') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}